
:root {
    --text-color: white;
    --text-dark-color: #202020;
    --header-height: 100px;
    --burger-width: 40px;
    --font-headings: Georgia, serif;

    --bcg-green: #ACB7AE;
    --bcg-lightgreen: #a6b3b3;
    --bcg-lightbrown: #b0a7a4;
    --bcg-lightblue: #a3abb1;

    --bcg-loaderblue: #758A94;
    --bcg-loaderbluedark: #566C76;

    --loader-width: 27.36vw;
    --loader-height: 50vh;

    --v-spacing: 10vh;
    --h-gutter: 6.6vw;

    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}
/* =Header */
header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
}

header h1 {
    font-family: var(--font-headings);
    font-weight: normal;
    color: #fff;
    font-size: 7vw;
    line-height: 7.4vw;
    z-index: 1;
    margin-bottom: 0;
    pointer-events: none;
}

header h1 span {
    display: block;
}

.subtitle {
    z-index: 1;
    font-size: 1.3vw;
    color: #fff;
    letter-spacing: 0.3vw;
    transform: translateX(-9vw);
    font-weight: 300;
    pointer-events: none;
}

.decor__circle {
    border: 1px white solid;
    border-radius: 100%;
    width: 23vw;
    height: 23vw;
    position: absolute;
    top: 45vh;
    left: 27vw;
    opacity: 0.4;
    pointer-events: none;
}

.cta__circle {
    width: 7.7vw;
    height: 7.7vw;
    position: absolute;
    top: auto;
    bottom: -3.8vw;
    left: 58%;
    /* background: url('../img/img_logo.svg') no-repeat center; */
    background-size: 50% 50%;
    pointer-events: none;
}

.cta__circle--logo {
    width: 7.7vw;
    height: 7.7vw;
    /* background: url('../img/img_scroll-badge.svg') no-repeat center; */
    background-size: 100% 100%;
    animation: rotation 45s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* =Header Gallery (random image proportion) 
  Calculate aspect by setting a width first, then adjust padding bottom.
  Example for image that you want to show as 16/9 - landscape
  width: 24vw, padding-bottom: (9/16) * width = 13.5
  
  Example for image that you want to show as 9/16 - portrait
  width: 24vw, padding-bottom: (16/9) * width = 42.6

  Have fun:)

*/
.hg__image,
.rg__image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    pointer-events: none;
}

.hg__image--l {
    width: 18vw;
    padding-bottom: 26vw;
}

.hg__image--m {
    width: 18vw;
    padding-bottom: 26.55vw;
}

.hg__image--s {
    width: 13vw;
    padding-bottom: 19vw;
}

.hg__image img,
.rg__image img,
.blog__image img,
.stage__image img,
.loader__image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.8
}

.hg__left .hg__image:nth-child(1) {
    top: 17vh;
    left: 15vw;
}

.hg__left .hg__image:nth-child(2) {
    top: 30vh;
    left: 6vw;
}

.hg__left .hg__image:nth-child(3) {
    top: 56vh;
    left: 14vw;
}

.hg__right .hg__image:nth-child(1) {
    top: 15vh;
    left: auto;
    right: 21vw;
    width: 24vw;
    padding-bottom: 21vw;
}

.hg__right .hg__image:nth-child(2) {
    top: 27vh;
    left: auto;
    right: 10vw;
    z-index: 1;
}

.hg__right .hg__image:nth-child(3) {
    top: 56vh;
    left: auto;
    right: 19vw;
    width: 16vw;
    padding-bottom: 20vw;
}